*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
}


.wow{
    display: grid;
    place-items: center;
    min-height: 100vh;
    cursor: pointer;
}